* {
    margin: 0px;
    padding: 0px;
}

.menu-container {
    display: flex;
    background-color: gray;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.menus>ul {
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 17px;
    font-style: italic;
    padding: 20px;
}

.banner-container {
    height: 100vh;
    background-image: url('/image/background.jpg'),
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner-info {
    text-align: center;
    margin-left: 300px;

}

.banner-title {
    font-size: 55px;
    color: white;
    margin-bottom: 0px;
    font-weight: bold;
}

.banner-description {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.primary {
    color: red;
}

.btn-first {
    background-color: red;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 20px;
}

.btn-second {
    background-color: white;
    padding: 10px 15px;
    color: black;
    border: none;
    border-radius: 20px;
}
.service {
    
}
.service-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-image: url('/image/footer-bg.png'),
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    align-items: center;
}
.my-face {
    border-radius: 120px;
}
.box-primary {
    width: 270px;
    height: 150px;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding-top: 80px;
}
.box {
    width: 70px;
}
.first-two-box {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.last-two-box {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
    margin-top: 5px;
}
.service-description {
    width: 60%;
    margin-top: 20px;
    font-size: 20px;
}
.left-side-container {
    margin: 30px;
}
.right-side-container {
    margin: 30px;
}
.service-title {
    font-size: 40px;
}
.list-items {
    padding: 14px;
    margin-top: 20px;
    font-size: 20px;
}
.profile-picture {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
    border-right: 2px solid red;
    padding-right: 20px;
}
.my-face {
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.profile-info {
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.btn-fourth {
    padding: 10px 15px;
    color: red;
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
}
.btn-third {
    padding: 10px 15px;
    color: gray;
    background-color: white;
    border-radius: 20px;
    border: none;
}
.light-red {
    color: rgb(247, 78, 78);
}
          /* Appointment section starts from here  */

.appointment-title {
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid gray;
    padding-left: 15px;
}
.appointment-description {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.appointment-container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: rgb(206, 57, 57);
    height: 120px;
    border-radius: 20px;
    position: relative;
    margin-top: -35px;
}
.btn-fifth {
    padding: 10px 15px;
    color: darkblue;
    background-color: rgb(223, 220, 220);
    border-radius: 20px;
    border: none;
}
     /* blog section starts here  */
.bolg-title {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}     
.blog-description {
    font-size: 20px;
    text-align: center;
    width: 50%;
    margin: auto;
}