* {
    margin: 0px;
    padding: 0px;
}
.menu-container {
    display: flex;
    background-color: gray;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
.menus > ul {
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 17px;
    font-style: italic;
    padding: 20px;
}